# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos temporales y de respaldo
*.log
*.tmp
*.temp
*.bak
*.swp
*.swo
*~

# Compilación C++
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe
*.out

# Carpetas de build
bin/
build/
dist/
out/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio Code
.vscode/
.vs

# Otros IDEs
.idea/
*.iml
